doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title 千竹荧光笔 - 从阅读中获取知识，记录想法

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        .container
            h4.text-center.mt-4 长按高亮标记、笔记
            hr.divider.my-4
            p.text-primary.mt-2 除了像普通笔记应用一样记录笔记外，千竹支持阅读文章时标记重要语句并留下随想笔记，只需长按即可标记全句，高效便捷。 
            .row
                .col-sm
                    h5.mt-3 1. 如何高亮标记语句？
            .row
                .col-sm
                    .mt-2
                        img.img-fluid.mb-4.p-3.shadow-lg.rounded(src='assets/img/portfolio/fullsize/highlight.gif', alt='')   
            .row
                .col-sm
                    h5.mt-4 2. 如何重新唤出高亮菜单栏？
                    p.text-dark.mt-2 轻点高亮区域即可，手指离开屏幕的时候菜单栏就会在屏幕底部浮出。 
            .row
                .col-sm
                    h5.mt-2 3. 如何扩大高亮范围？
            .row
                .col-sm
                    .mt-2
                        img.img-fluid.mb-4.p-3.shadow-lg.rounded(src='assets/img/portfolio/fullsize/rehighlight.gif', alt='')    
                


        // Bootstrap core JS
        //- script(src='js/jquery-3.4.1.min.js')
        //- script(src='js/bootstrap.bundle-4.5.3.min.js')

        // Core theme JS
        //- script(src='js/scripts.js')
