doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title 方块易读 - 从阅读中获取知识，记录想法

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.png')

        // Font Awesome icons (free version)
        //- script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        //- // Google fonts
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        //- // Third party plugin CSS
        //- link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        .container
            h4.text-center.mt-4 收集好文章，做知识积累
            hr.divider.my-4
            p.text-primary.mt-2 读到好文章，可以获取重要观点和知识，但苦于分散于各个应用，多数应用没有标记和记录随想的功能，也无法积累和回顾整理。方块易读提供了从各个网站和应用收集文章的功能，并且提供了便捷的高亮标记、笔记功能，从方块开始，积累你的知识吧。
            p.text-dark.mt-2 从浏览器或其他App收集文章，方法如下：
            .row
                .col-sm
                    h5.mt-4 1. 复制链接
            .row
                .col-sm
                    .mt-2
                        p.text-dark.mt-2 在其他应用的文章页面“复制链接”：
                        img.img-fluid.mb-4.p-3.shadow-lg.rounded(src='assets/img/portfolio/thumbnails/copylink.jpg', alt='')    
                .col-sm
                    .mt-2
                        p.text-dark.mt-2 打开本应用，会自动检测剪切板中的文章链接，提示保存到稍后阅读，或者点击添加文章按钮：
                        img.img-fluid.mb-4.shadow-lg.rounded.p-3(src='assets/img/portfolio/thumbnails/addtoril.jpg', alt='')    
            //- .row
            //-     .col-sm
            //-         h5.mt-4 2. “方块易读”分享插件
            //- .row
            //-     .col-sm
            //-         .mt-2
            //-             p.text-dark.mt-2 在其他应用的文章页面找到“分享”或“更多”：
            //-             img.img-fluid.mb-4.p-3.shadow-lg.rounded(src='assets/img/portfolio/thumbnails/share.jpeg', alt='')    
            //-     .col-sm
            //-         .mt-2
            //-             p.text-dark.mt-2 找到“方块易读”图标，点按：
            //-             img.img-fluid.mb-4.shadow-lg.rounded.p-3(src='assets/img/portfolio/thumbnails/save_ext.jpeg', alt='')    


        // Bootstrap core JS
        //- script(src='js/jquery-3.4.1.min.js')
        //- script(src='js/bootstrap.bundle-4.5.3.min.js')

        // Core theme JS
        //- script(src='js/scripts.js')
