doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title 方块易读 - 从阅读中获取知识，记录想法

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.png')

        // Font Awesome icons (free version)
        //- script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        //- // Google fonts
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        //- // Third party plugin CSS
        //- link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        .container
            h4.text-center.mt-4 欢迎使用FunBlocks AI！
            hr.divider.my-4
            p.text-dark.mt-2 FunBlocks基于先进的AI技术，帮您轻松解决各种难题，提高生活品质，迎接更美好的未来！
            p.text-dark.mt-2 立即注册，让AI助手成为您的生活和工作“伙伴”！

            .row
                .col-sm
                    h5.mt-4 1. 方块笔记 - AI导师与顾问
            .row
                .col-sm
                    .mt-2.w-100(style="max-width: 480px")
                        p.text-dark.mt-2 和古今中外圣贤先哲对谈，让各个顾问答疑解惑：
                        img.img-fluid.mb-4.shadow-lg.rounded(src='assets/img/portfolio/fullsize/ask_ai.jpeg', alt='')  
            .row
                .col-sm
                    h5.mt-4 1. 方块笔记 - AI作文
            .row
                .col-sm
                    .mt-2.w-100(style="max-width: 480px")
                        p.text-dark.mt-2 AI让作文变得有趣，成为知识探索之旅：
                        img.img-fluid.mb-4.shadow-lg.rounded(src='assets/img/portfolio/fullsize/ai_writing.jpeg', alt='')  
            .row
                .col-sm
                    h5.mt-4 1. 方块笔记 - AI笔记助手
            .row
                .col-sm
                    .mt-2.w-100(style="max-width: 480px")
                        p.text-dark.mt-2 记录所见、所闻、所想，和AI一起深入思考：
                        img.img-fluid.mb-4.shadow-lg.rounded(src='assets/img/portfolio/fullsize/instanote-ai.jpeg', alt='')  
            .row
                .col-sm
                    h5.mt-4 2. 方块笔记 - AI阅读助手
            .row
                .col-sm
                    .mt-2.w-100(style="max-width: 480px")
                        p.text-dark.mt-2 从各App或浏览器收集有思想的好文章，和AI一起探讨：
                        img.img-fluid.mb-4.shadow-lg.rounded(src='assets/img/portfolio/fullsize/article-ai.jpeg', alt='')   
            .row
                .col-sm
                    h5.mt-4 3. FunBlocks - AI写作助手
            .row
                .col-sm
                    .mt-2
                        p.text-dark.mt-2 写作文？工作报告？AI统统能写！
                        img.img-fluid.mb-4.shadow-lg.rounded(src='assets/img/portfolio/fullsize/funblocksAI.png', alt='')   
            .row
                .col-sm
                    h5.mt-4 4. FunBlocks - AI幻灯片、课件写作助手
            .row
                .col-sm
                    .mt-2
                        p.text-dark.mt-2 和AI一起写课件、写PPT，高效工作；同时也能高效学习，不信你试试？
                        img.img-fluid.mb-4.shadow-lg.rounded(src='assets/img/portfolio/fullsize/xslides-ai.png', alt='')   
                
            //- .row
            //-     .col-sm
            //-         h5.mt-4 2. “方块易读”分享插件
            //- .row
            //-     .col-sm
            //-         .mt-2
            //-             p.text-dark.mt-2 在其他应用的文章页面找到“分享”或“更多”：
            //-             img.img-fluid.mb-4.p-3.shadow-lg.rounded(src='assets/img/portfolio/thumbnails/share.jpeg', alt='')    
            //-     .col-sm
            //-         .mt-2
            //-             p.text-dark.mt-2 找到“方块易读”图标，点按：
            //-             img.img-fluid.mb-4.shadow-lg.rounded.p-3(src='assets/img/portfolio/thumbnails/save_ext.jpeg', alt='')    


        // Bootstrap core JS
        //- script(src='js/jquery-3.4.1.min.js')
        //- script(src='js/bootstrap.bundle-4.5.3.min.js')


        // Core theme JS
        //- script(src='js/scripts.js')
