doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title 方块致知 - 从阅读中获取知识，记录想法

        // Favicon
        //- link(rel='icon', type='image/x-icon', href='assets/img/favicon.png')

        //- // Font Awesome icons (free version)
        //- script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        //- // Google fonts
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        //- // Third party plugin CSS
        //- link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        .container
            h4.text-center.mt-4 会员权限
            hr.divider.my-4
            p.text-dark.mt-2 欢迎成为“FunBlocks”成员，支持方块团队，享有更多功能和权限：
            table#pickle.table.table-hover.table-striped.table-bordered 
                thead 
                tr 
                    th 权益 
                    th 普通会员 
                    th 方块笔记会员
                    th 方块AI会员
                tbody 
                tr 
                    td AI助手访问次数
                    td 每天10次访问
                    td 40次/天（仅限于付费VIP）
                    td 无限次访问
                tr 
                    td 稍后阅读可保存文章数
                    td 100篇 
                    td 无限
                    td 无限
                tr 
                    td 访问删除的文章列表
                    td No 
                    td Yes
                    td Yes
                tr 
                    td 访问删除的笔记 
                    td No 
                    td Yes 
                    td Yes
                tr 
                    td 访问已读文章 
                    td No 
                    td Yes 
                    td Yes
                tr 
                    td 广告 
                    td Yes 
                    td No 
                    td No
                tr 
                    td 会持续开发更多会员权益
                    td 
                    td 
                    td
                     
            hr.divider.my-4
            h4.text-center.mt-4 使用说明
            p.text-dark.mt-2 购买之后若还是无法使用，请尝试重启一下App。
            p.text-dark.mt-2 相关政策：
            a(href="https://www.funblocks.cn/privacypolicy.html") 《隐私政策》
            br
            a(href="https://www.funblocks.cn/privacypolicy.html") 《用户协议，苹果标准用户协议：standard Apple Terms of Use (EULA)》
       

        // Core theme JS
        script(src='js/scripts.js')
