doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title FunBlocks - 方块

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.png')

        // Font Awesome icons (free version)
        //- script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        //- // Google fonts
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        //- // Third party plugin CSS
        //- link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        .container
            h4.text-center.mt-4 阅读时做的高亮笔记去哪儿了？
            hr.divider.my-4
            p.text-dark.mt-2 高亮笔记已经自动添加到您的方块知识空间(FunBlocks)中了。
            p.text-dark.mt-2 等待你进行深入整理和编辑，继续创作。
            p.text-dark.mt-2 当然，稍后阅读文章也一样进入了方块空间，在那里有不一样的阅读和笔记体验。
            a(href="https://www.funblocks.cn") 方块空间 https://www.funblocks.cn
            
            .row.mt-3
                .col-sm
                    .mt-2
                        a.portfolio-box(href='assets/img/portfolio/fullsize/pcweb.png')
                            img.img-fluid.shadow-lg(src='assets/img/portfolio/fullsize/pcweb.jpg', alt='')   
            

        // Bootstrap core JS
        //- script(src='js/jquery-3.4.1.min.js')
        //- script(src='js/bootstrap.bundle-4.5.3.min.js')

        // Core theme JS
        script(src='js/scripts.js')
