doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title FunBlocks - 方块

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.png')

        // Font Awesome icons (free version)
        //- script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        //- // Google fonts
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        //- link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        //- // Third party plugin CSS
        //- link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        .container
            h4.text-center.mt-4 在这里捕捉的即时想法，后续怎么处理？
            hr.divider.my-4
            p.text-dark.mt-2 方块空间(FunBlocks)提供了完整的知识工作平台，即时笔记是您知识之旅的起点。
            p.text-dark.mt-2 在这里随时记录的想法，可以在方块空间进一步得到有效的整理与延伸，整合进您的知识与工作空间。
            p.text-dark.mt-2 FunBlocks是一款集合笔记、文档、幻灯片、任务列表等多种功能于一体的知识工作和协作工具。它提供了强大的内容组织和协作功能，旨在帮助个人和团队更高效地工作和协作。用户可创建和编辑文档、幻灯片、表格、数据库等文件，将其组织成页面、目录、项目等形式，形成线上工作空间。使用FunBlocks，可以在同一位置安排、完成、沟通和共享所有的工作。
            a(href="https://www.funblocks.cn") 方块空间 https://www.funblocks.cn
            
            .row.mt-3
                .col-sm
                    .mt-2
                        a.portfolio-box(href='assets/img/portfolio/fullsize/pcweb_instant_notes.png')
                            img.img-fluid.shadow-lg(src='assets/img/portfolio/fullsize/pcweb_instant_notes.png', alt='')   
            

        // Bootstrap core JS
        //- script(src='js/jquery-3.4.1.min.js')
        //- script(src='js/bootstrap.bundle-4.5.3.min.js')

        // Core theme JS
        //- script(src='js/scripts.js')
